
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0"
        fxFlex="auto">Actualizar Mapeo</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <br>
    <p>Selecciona en la siguiente tabla los datos que desees utilizar en los siguientes procesos de Collections Robot.</p>
    <br>
    <div class="card overflow-auto" style="max-height: 500px;">
      <div class="my-12 container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.xs="start stretch"
      fxLayoutGap="24px">
      <div  fxFlex fxLayout="column">
        <b>Dato</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of map"> {{column}}</mat-list-item>
        </mat-list>
      </div>
      <!--div  fxFlex fxLayout="column">
        <b>Ejemplo</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of map"> {{column.ejemplo}}</mat-list-item>
        </mat-list>
      </div-->
      <div  fxFlex fxLayout="column">
        <b>Análisis</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of analysis;  let i = index;"> 
            <mat-checkbox class="example-margin" [checked]="column.status" ([ngModel])="column.status"
            (change)="$event ? saveChange('analysis',i) : null">
          </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <div  fxFlex fxLayout="column">
        <b>Segmentación</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of segmentation;  let i = index;"> 
            <mat-checkbox class="example-margin" [checked]="column.status" ([ngModel])="column.status"
            (change)="$event ? saveChange('segmentation',i) : null">
          </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <div  fxFlex fxLayout="column">
        <b>Comunicación</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of strategies;  let i = index;"> 
            <mat-checkbox class="example-margin" [checked]="column.status" ([ngModel])="column.status"
            (change)="$event ? saveChange('strategies',i) : null" >
          </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <div  fxFlex fxLayout="column">
        <b>Portal</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of customerPortal;   let i = index;"> 
            <mat-checkbox class="example-margin" [checked]="column.status" ([ngModel])="column.status" 
            (change)="$event ? saveChange('customerPortal',i) : null">
          </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <div  fxFlex fxLayout="column">
        <b>Validación</b>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let column of validations;  let i = index;"> 
            <mat-checkbox class="example-margin" [checked]="column.status" ([ngModel])="column.status" 
            (change)="$event ? saveChange('validations',i) : null">
          </mat-checkbox>
            <select class="sm:ml-6" name="type"  >
              <option value="no">Seleccione uno...</option>
              <option value="Email">E-mail</option>
              <option value="number">Numero Telefonico</option>
              <option value="date">Fecha</option>
            </select>
          </mat-list-item>
        </mat-list>
      </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isUpdateMode()" color="primary" (click)="save()" mat-button type="submit">ACTUALIZAR MAPEO</button>
  </mat-dialog-actions>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
