<div class="w-full h-full bg-pattern register" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img  src="assets/img/demo/logoPrincipal.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Regístrese para obtener su cuenta</h2>
      <h3 style="color: #5c77ff; font-weight: 700;"><b>COLLECTION ROBOT</b></h3>
      <!--h4 class="body-2 text-secondary m-0">Simplemente complete el formulario a continuación</h4-->
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Nombre de Empresa</mat-label>
          <input formControlName="nameAgency" matInput required>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Tipo de empresa</mat-label>
          <mat-select matNativeControl name="typeClient"  formControlName="type">
            <mat-option value="Ninguno">Seleccione uno...</mat-option>
            <mat-option value="Agencia de cobranza">Agencia de cobranza</mat-option>
            <mat-option value="Financiera">Financiera</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Nombre de Usuario</mat-label>
          <input formControlName="name" matInput required>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Haga clic en el ojo para alternar la visibilidad</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Password (Confirmar)</mat-label>
          <input [type]="inputType" formControlName="passwordConfirm" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Repita su contraseña de arriba</mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox class="caption">Acepto los <a>términos y condiciones.</a></mat-checkbox>
      </div>
      <button (click)="send()" color="primary" mat-raised-button type="button">
        CREAR UNA CUENTA
      </button>
      <p class="text-secondary text-center">
        ¿Ya tienes una cuenta?<br/>
        <a [routerLink]="['/login']">Entre aquí</a>
      </p>
    </div>
  </div>
</div>
