<div class="toolbar w-full" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <!-- <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button> -->

  <a *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="w-8 select-none" src="assets/img/demo/logo.svg">
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">VEX</h1>
  </a>

  <h2><b>Financiera total</b></h2>






  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
       [fxHide]="mobileQuery"
       class="px-gutter"
       fxFlex="none"
       fxLayout="row"
       fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">
    <!--div class="px-1">
      <button (click)="openSearch()" mat-icon-button type="button">
        <mat-icon [icIcon]="icSearch"></mat-icon>
      </button>
    </div-->

    

    <!--div class="px-1">
      <button (click)="openQuickpanel()" mat-icon-button type="button">
        <mat-icon [icIcon]="icBookmarks"></mat-icon>
      </button>
    </div-->

    <!--div class="px-1">
      <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
        <mat-icon [icIcon]="emojioneUS"></mat-icon>
      </button>
    </div-->
    <!-- <button _ngcontent-ypn-c303="" mat-stroked-button="" *ngIf="agency&&agency.contract.type=='test'&&days>=0"type="button" class="mat-focus-indicator ng-tns-c303-274 mat-stroked-button mat-button-base mt-1 text-orange" style="margin-right: 12px;"><span class="mat-button-wrapper"></span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span>Días de Prueba: <b>{{days}}</b></button> -->



    <div class="px-5">
      <img _ngcontent-vse-c270="" class="avatar h-8 w-8 align-middle ng-tns-c270-52" src="https://documents-cr.s3.us-west-2.amazonaws.com/73684d56-cd43-4d86-889e-2aaf84255a73.JPG">

    </div>

  </div>
</div>


<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [fxHide]="mobileQuery"></vex-navigation>
