ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-right: 10px;
}