
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 class="headline m-0"
        fxFlex="auto">Nueva Accion de gestion</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">

    <div class="flex flex-col sm:flex-row">

      <mat-form-field class="flex-auto" >
        <mat-label>Selecciona comunicación</mat-label>
        <mat-select cdkFocusInitial [(ngModel)]="communication" (selectionChange)="onLabelChange($event)"  >
          <mat-option [value]="option" *ngFor="let option of getCommunications;">{{option.name}}</mat-option>
        </mat-select>
  
        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
      
      
      
    </div>
    <div class="flex flex-col self-center sm:flex-row ml-6">
      <div class="ngx-timepicker-field-example">
        <ngx-timepicker-field min="12:10 am" max="08:11 pm" [(ngModel)]="times"></ngx-timepicker-field>
    </div>
    </div>
    <div id="html" class="ql-editor pl-24 pr-24"></div>

    
   
    
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit" (click)="save()">CREAR ESTRATEGIA</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit" (click)="save()">EDITAR ESTRATEGIA </button>
  </mat-dialog-actions>


<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
