<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0"
        fxFlex="auto">Administración Portafolios</h2>



    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      

      <mat-form-field class="flex-auto mt-6" >
        <mat-label>Selecciona Financiera</mat-label>
        <mat-select matNativeControl name="client_id" formControlName="client_id" mcdkFocusInitial>

          <mat-option [value]="option._id" *ngFor="let option of CustomersList" (click)="onChange()">{{option.name}}</mat-option>

        </mat-select>
        <mat-error> Seleccione una financiera </mat-error>
      
        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>

      </mat-form-field>

    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Nombre (máximo 30 caracteres)</mat-label>
        <input  formControlName="name_portafolio"  matInput>
        <mat-error> Debe incluir un nombre</mat-error>
        <mat-icon [icIcon]="icPortafolio" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

        <mat-form-field class="flex-auto">
          <mat-label>Descripción (máximo 100 caracteres)</mat-label>
          <textarea formControlName="description" matInput max=10></textarea>
        </mat-form-field>

    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn" type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button mat-flat-button type="submit" [disabled]="form.invalid">AGREGAR PORTAFOLIO</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button mat-flat-button type="submit">GUARDAR CAMBIOS</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
