<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0"
        fxFlex="auto">Administración Portafolios</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">

      <mat-form-field class="flex-auto mt-6" >
        <mat-label>Selecciona Financiera</mat-label>
        <mat-select matNativeControl name="client_id" formControlName="client_id" >

          <mat-option [value]="option._id" *ngFor="let option of CustomersList" (click)="onChange()">{{option.name}}</mat-option>

        </mat-select>
        <mat-error> Seleccione una financiera </mat-error>
        <p *ngIf="mode == 'update' && estado == true">{{defaults.client_id.name}}</p>
      
        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>

      </mat-form-field>

    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Nombre</mat-label>
        <input cdkFocusInitial formControlName="name_portafolio" matInput>
        <mat-error> Debe incluir un nombre</mat-error>
        <mat-icon [icIcon]="icPortafolio" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

        <mat-form-field class="flex-auto">
          <mat-label>Descripción</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>

    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn" type="button">Cancelar</button>
    <button *ngIf="isCreateMode()" mat-flat-button mat-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
    <button *ngIf="isUpdateMode()" mat-flat-button mat-button color="primary" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
