<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div>

      <h3>Paso 5. Estrategia de Gestión</h3>
      <p> </p>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card p-6">
      <h2 class="m-0 title mb-6"></h2>
      <div class="flex flex-col sm:flex-row">
        <table mat-table [dataSource]="generalP" class="mat-elevation-z8 text-center"  style="width: 100%;">

          <ng-container matColumnDef="Cliente">
            <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);"> <b>Cliente</b>  </th>
            <td mat-cell *matCellDef="let element" class="text-center" > <b> {{element.cliente}} </b></td>
          </ng-container>
          <ng-container matColumnDef="Portafolio">
            <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);"> <b>Portafolio</b>  </th>
            <td mat-cell *matCellDef="let element" class="text-center" > <b> {{element.portafolio}} </b></td>
          </ng-container>
          <ng-container matColumnDef="Registros">
            <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);"> <b>Registros</b>  </th>
            <td mat-cell *matCellDef="let element" class="text-center" > <b> {{element.registros}} </b></td>
          </ng-container>
          <ng-container matColumnDef="Segmentación">
            <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);"> <b>Segmentación</b>  </th>
            <td mat-cell *matCellDef="let element" class="text-center" > <b> {{element.segmentado}} </b></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsA2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsA2;"></tr>
        </table>
      </div>
      <div class="flex flex-col sm:flex-row">
        <div class="flex-auto flex flex-col sm:flex-row ml-2 mr-2">

          <mat-form-field class="flex-auto mt-6"  style="width: 80%;">
            <mat-label>Días Maximo de Collection Robot</mat-label>
            <input cdkFocusInitial [(ngModel)]="days" matInput >
    
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <div class="align-self-sm-center" >
            <ng-template #popTemplate9><div [innerHtml]="html"> </div></ng-template>
            <mat-icon  [icIcon]="icInfo" 
            [outsideClick]="true"
[popover]="popTemplate9"
            placement="left"
            ></mat-icon>
          </div>
        </div>
        <div class="flex-auto flex flex-col sm:flex-row ml-2 mr-2">

         
          <mat-form-field class="flex-auto mt-6"  style="width: 80%;">
            <mat-select cdkFocusInitial [(ngModel)]="noneDays" (selectionChange)="addStrategy()"  >
              <mat-option [value]="4" >5 Intentos no exitosos</mat-option>
              <mat-option [value]="5" >6 Intentos no exitosos</mat-option>
              <mat-option [value]="6" >7 Intentos no exitosos</mat-option>
              <mat-option [value]="8" >8 Intentos no exitosos</mat-option>
              <mat-option [value]="9" >9 Intentos no exitosos</mat-option>
              <mat-option [value]="10" >10 Intentos no exitosos</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="align-self-sm-center" >
            <ng-template #popTemplate10><div [innerHtml]="html2"> </div></ng-template>
            <mat-icon  [icIcon]="icInfo" 
            [outsideClick]="true"
[popover]="popTemplate10"
            placement="left"
            ></mat-icon>
          </div>
        </div>
      </div>

      <div  *ngIf="false" >
        <div class="flex flex-col sm:flex-row" *ngFor="let canal of canales">
          <div class="flex-auto">
            <div class="flex flex-col sm:flex-row">
  
              <mat-form-field class="flex-auto ">
                <mat-label>Canal</mat-label>
                <input cdkFocusInitial [(ngModel)]="canal.label" matInput>
        
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto ">
                <mat-label>Salida despues de intentos sin exito</mat-label>
                <input cdkFocusInitial [(ngModel)]="canal.days" matInput>
        
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="flex-auto">
  
          </div>
          
        </div>
      </div>


     
          <div class="card overflow-auto " style="max-height: 500px;" *ngIf="jsDatos.length">
            <div style="color: white;" class="bg-app-bar px-6 h-16 border-b sticky left-0"fxLayout="row" fxLayoutAlign="start center">
              <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
                <span>Estrategias</span>
              </h2>
              <div class="bg-card rounded-full border px-4"
                  fxFlex="400px"
                  fxFlex.lt-md="auto"
                  fxHide.xs
                  fxLayout="row"
                  fxLayoutAlign="start center">
                <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl"
                      class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                      placeholder="Buscar..."
                      type="search">
              </div>
        
              <span fxFlex></span>
        
              <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                <mat-icon [icIcon]="icSearch"></mat-icon>
              </button>
        
        
            </div>
            
            <table @stagger [dataSource]="jsDatos" class="w-full" mat-table matSort *ngIf="active">
      
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
        
           
        
              <!-- Text Columns -->
              <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                  <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>{{ column.label == 'Comunicacion' ? 'COMUNICACIÓN':  column.label}}</th>
                  <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                    <p *ngIf="column.label=='Comunicacion'">
                      {{row[0][column.label]}}
                      <ng-template #popTemplate10><div [innerHtml]="html3"> </div></ng-template>
                      <mat-icon  [icIcon]="icInfo" 
                      [outsideClick]="true"
[popover]="popTemplate10"
                      placement="right"
                      ></mat-icon>
                    </p> 
                    
                    
                    <div (click)="$event.stopPropagation();" fxLayoutAlign="center center" fxLayoutGap="4px" *ngIf="column.label!='Comunicacion'" >
                      
                     <div *ngFor="let r of row">
                       <div *ngIf="r[column.label]"
                        [matTooltip]="r[column.label].label"
                            class="rounded px-2 py-1 font-medium text-xs bg-teal-light text-teal"
                            fxFlex="none">
                         {{r[column.label]?r[column.label].times:""}}
                       </div>
                     </div>
                     
                      <div (click)="$event.stopPropagation(); editStrategy(row[0],column.label);" *ngIf="!row[0][column.label]"
                           class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover"
                           fxFlex="none"
                           matTooltip="Agendar una Estrategia"
                           fxLayout="row"
                           fxLayoutAlign="center center">
                        <ic-icon [icon]="icAdd" size="18px"></ic-icon>
                      </div>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
        
        
              <tr *matHeaderRowDef="visibleColumns" class="bg-app-bar"  mat-header-row></tr>
              <tr
                  *matRowDef="let row; columns: visibleColumns;"
                  @fadeInUp
                  class="hover:bg-hover trans-ease-out cursor-pointer"
                  mat-row></tr>
            </table>
       
          </div>

      
      
      <div align="end" class="mt-10">
        <button  class="ml-6" (click)="create()"color="primary" mat-stroked-button type="submit">CREAR ESTRATEGIA</button>
        <!--button *ngIf="isEdit" class="ml-6" (click)="create()"color="primary" mat-stroked-button type="submit">EDITAR ESTRATEGIA</button-->
      </div>
    </div>
  </vex-page-layout-content>

</vex-page-layout>