
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0"
        fxFlex="auto">Cargar Pagos</h2>
        <!--h3>Puedes actualizar los pagos identificados desde la fecha de la última actualización del portafolio</h3-->

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <p>Puedes actualizar los pagos identificados desde la fecha de la última actualización del portafolio</p>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-horizontal-stepper>
      <mat-step label="Cargar Archivo" state="phone">
        <div style="padding: 20px;">

          <h3>Cargar Archivo de pagos</h3>
          <p>Carga aquí tu layout</p>
          <p>1. Formato en archivo Excel.csv</p>
          <p>2. Campos requeridos : identificador cliente, fecha de pago , monto de pago.</p>
         
        </div>
        <div  class="text-center">

          <div class="fileControl-wrapper text-center">
            <br>
              <button mat-flat-button color="primary">Subir Archivo</button>
            <input type="file" #uploadControl id="fileControlInput" (change)="onFileChange($event)" name="fileControlInput"
              multiple="multiple"  />
        
          </div>
          <h3 *ngIf="jsonData.Datos.length">Datos Cargados</h3>
          <h2 *ngIf="jsonData.Datos.length"> {{jsonData.Datos.length}}</h2>
        
          
      </div>
        <div class="text-right" *ngIf="jsonData.Datos.length">
          <button mat-raised-button class="primary" matStepperNext>SIGUIENTE</button>
        </div>
      </mat-step>
      <mat-step label="Vista Previa" state="chat">
       
        <div class="card overflow-auto" style="max-height: 500px;">
          <div style="color: white;" class="bg-app-bar px-6 h-16 border-b sticky left-0"fxLayout="row" fxLayoutAlign="start center">
            <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
              <span >Pagos</span>
            </h2>
      
      
            <div class="bg-card rounded-full border px-4"
                 fxFlex="400px"
                 fxFlex.lt-md="auto"
                 fxHide.xs
                 fxLayout="row"
                 fxLayoutAlign="start center">
              <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
              <input [formControl]="searchCtrl"
                     class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                     placeholder="Buscar..."
                     type="search">
            </div>
      
            <span fxFlex></span>
      
            <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
              <mat-icon [icIcon]="icSearch"></mat-icon>
            </button>
      
           
      
          </div>
          <table @stagger [dataSource]="jsDatos" class="w-full" mat-table matSort >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
      
         
      
            <!-- Text Columns -->
            <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
              <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
              </ng-container>
            </ng-container>
      
      
            <tr *matHeaderRowDef="visibleColumns" class="bg-app-bar"  mat-header-row></tr>
            <!--(click)="updateCustomer(row)"-->
            <tr 
                *matRowDef="let row; columns: visibleColumns;"
                @fadeInUp
                class="hover:bg-hover trans-ease-out cursor-pointer"
                mat-row></tr>
          </table>
        </div>
        <br>
        <div class="text-right">
          <button mat-button matStepperPrevious>ATRAS</button>
          <button mat-button matStepperNext (click)="createRegister()">CARGAR ARCHIVO</button>
        </div>
      </mat-step>
    
    </mat-horizontal-stepper>
  </mat-dialog-content>

  <!--mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isUpdateMode()" color="primary" (click)="save()" mat-button type="submit">ACTUALIZAR MAPEO</button>
  </mat-dialog-actions-->

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
