<div class="card bg-primary" fxLayout="row" fxLayout.xs="column">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">
  </div>

  <div class="p-6 text-primary-contrast" fxFlex="auto">
    <h2 class="headline m-0">Bienvenido al Collection Robot</h2>
    <p class="caption m-0 opacity-50">Digitaliza y automatiza en 5 pasos:</p>

    <div class="mt-4" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">1.	Administración Financieras</span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">2.	Administración Portafolios </span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer"> 3.	Segmentación</span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">4.	Comunicación digital</span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">5.	Estrategia de Gestión</span>
    </div>
  </div>
</div>
