<div class="card bg-primary" fxLayout="row" fxLayout.xs="column" *ngIf="x">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">
  </div>

  <div class="p-6 text-primary-contrast" fxFlex="auto" style="text-align: center;" *ngIf="day > 3">
    <h4 class="headline m-0" style="font-size: 20px;"><b>

      Bienvenido a Collection Robot Digitalización & automatización de la gestión de Cobranza. 
    </b>
      </h4>
      <br>
    <div >
      <p>Es importante alimentar los datos adicionales en el punto del menú: 
        <br>
        <br>
        <b>
          “Configuración General”
        </b>
       </p>
    </div>

    
  </div>
  <div class="p-6 text-primary-contrast" fxFlex="auto" style="text-align: center;" *ngIf="day == 3">
    <h4 class="headline m-0" style="font-size: 20px;">
      <b>

        ¡Quedan 3 días para el vencimiento del periodo de prueba!
      </b>
    </h4>
     
    <div >
      <p>Entra a la opción de menú: 
        <br>
        <b>

          “Contrata tu Plan” 
        </b>
        <br>
        Continua disfrutando del las funcionalidades y más beneficios de Collection Robot a contratar tu plan mensual 

       </p>
    </div>

    
  </div>
  <div class="p-6 text-primary-contrast" fxFlex="auto" style="text-align: center;" *ngIf="day == 1">
    <h4 class="headline m-0" style="font-size: 20px;">
      <b>
        ¡Hoy vence tu periodo de Prueba! 
      </b>
    </h4>
     
    <div >
      <p>Entra a la opción del menú :   

        <br>
        <b>

          “Contrata tu Plan” 
        </b>
        <br>
        Continua disfrutando del las funcionalidades y más beneficios de Collection Robot a contratar tu plan mensual 

       </p>
    </div>

    
  </div>
  <div class="p-6 text-primary-contrast" fxFlex="auto" style="text-align: center;" *ngIf="day == 0">
    <h4 class="headline m-0" style="font-size: 20px;">
      <b>
        ¡Tu periodo de Prueba ha vencido! 
      </b>
    </h4>
     
    <div >
      <p>Entra a la opción de menú: 
        <br>
        <b>

          “Contrata tu Plan” 
        </b>
        <br>
        Activa el PLAN MENSUAL y continua disfrutando de las funcionalidades y más beneficios de Collection Robot 
 

       </p>
    </div>

    
  </div>
</div>
