
   <!--div class="flex flex-col sm:flex-row text-center" *ngIf="datas.data.length">
          <div class="flex-auto">
            <b>{{datas.data[0]}}-{{datas.data[1]}}</b>
            <p><b>33%</b></p>
            <br>
            <p>{{datas.lables[0]}} Registros</p>
          </div>
          <div class="flex-auto">
            <b>{{datas.data[1]}}-{{datas.data[2]}}</b>
            <p><b>33%</b></p>
            <br>
            <p>{{datas.lables[1]}} Registros</p>
          </div>
          <div class="flex-auto">
            <b>{{datas.data[2]}}-{{datas.data[3]}}</b>
            <p><b>33%</b></p>
            <br>
            <p>{{datas.lables[2]}} Registros</p>
          </div>
          <div class="flex-auto">
            <b>Sin Información</b>
            <br>
            <p>{{ portafolio.register-datas.lables[0]-datas.lables[1]-datas.lables[2]}} Registros</p>
          </div>
        </div-->
        
        
<div class="flex flex-col sm:flex-row">
    <div class="flex flex-auto flex-col" style="width: 45%;">
      
        <mat-form-field class="flex-auto">
          <mat-label>Selecciona Criterio </mat-label>
          <mat-select  name="criterio1" [(ngModel)]="option.name" (selectionChange)="changeCriterio($event, i)" >
            <mat-option *ngFor="let op of segmentacionData" [value]="op"  >
              {{op}}
            </mat-option>
           </mat-select>
    
          <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <div >
          <table mat-table [dataSource]="option.dataSource" class="mat-elevation-z8 text-center"  style="width: 100%;">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="date1">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);" ng-if="displayedColumnsNew[0] == date1"> <b>{{displayedColumnsNew[0]}}</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.date1}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="date2">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);" ng-if="displayedColumnsNew == date2"> <b>{{displayedColumnsNew[1]}}</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.date2}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="date3">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);" ng-if="displayedColumnsNew == date3"> <b>{{displayedColumnsNew[2]}}</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.date3}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="date4">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);" ng-if="displayedColumnsNew == date4"> <b>{{displayedColumnsNew[3]}}</b></th>
              <td mat-cell *matCellDef="let element"> {{element.date4}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="date5">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="background: rgb(1, 90, 167);" ng-if="displayedColumnsNew == date5"> <b>{{displayedColumnsNew[4]}}</b></th>
              <td mat-cell *matCellDef="let element"> {{element.date5}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <br>
        <div class="flex flex-col sm:flex-row" fxLayout="row" fxLayoutAlign="space-between center">

          <mat-form-field class="flex-auto" style="max-width: 135px;">
            <mat-label>Segmentación</mat-label>
            <mat-select  name="criterio1" [(ngModel)]="option.type" ><!--(selectionChange)="changeSegment($event)" -->
              <mat-option value="rank"> Rango</mat-option>
              <mat-option value="higher"> Mayor que</mat-option>
              <mat-option value="less"> Menor que</mat-option>
              <mat-option value="equal"> Igual</mat-option>
              <!--mat-option [value]="option.data" *ngFor="let option of segmentacion;">{{option.data}}</mat-option-->
            </mat-select>
      
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto ml-6" *ngIf="option.type!='rank'">
            <mat-label>Rango A</mat-label>
            <input cdkFocusInitial [(ngModel)]="option.rankA" matInput (keydown)="onSearch($event,i)">
    
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto ml-6" style="min-width: 145px;" *ngIf="option.type=='rank'">
            <mat-label>Rango A</mat-label>
            <input cdkFocusInitial [(ngModel)]="option.rankA" matInput (keydown)="onSearch($event,i)">
    
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto ml-6" style="min-width: 145px;" *ngIf="option.type=='rank'">
            <mat-label>Rango B</mat-label>
            <input cdkFocusInitial [(ngModel)]="option.rankB" matInput (keydown)="onSearch($event,i)">
    
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <!--a (click)="save(i)" color="primary" mat-stroked-button  matTooltip="Agregar" ><mat-icon style="margin-top: 25px;" >add</mat-icon></a-->

          <!--a mat-fab color="accent" aria-label="Example icon button with a bookmark icon" color="primary" mat-stroked-button (click)="save(i)"><mat-icon>add</mat-icon></a-->
        </div>
        <!--div  class="flex flex-col sm:flex-row" *ngIf="option.type!='rank'">
          <mat-form-field class="flex-auto">
            <mat-label>Dato</mat-label>
            <input cdkFocusInitial [(ngModel)]="option.rankA" matInput>
    
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <a mat-fab color="accent" aria-label="Example icon button with a bookmark icon" color="primary" mat-stroked-button (click)="save(i)"><mat-icon>add</mat-icon></a>

        </div-->
        <div >
          <table mat-table [dataSource]="option.dataSeg" class="mat-elevation-z8 text-center " style="width: 100%;">
        
            <ng-container matColumnDef="Registros">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase " style="background: rgb(1, 90, 167);"> <b class="text-xs">Registros</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.actual}} </td>
            </ng-container>
            <ng-container matColumnDef="Datos_Segmentados">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase " style="background: rgb(1, 90, 167);"> <b class="text-xs">Segmentados</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.info}} </td>
            </ng-container>
            <ng-container matColumnDef="Porcentaje">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase " style="background: rgb(1, 90, 167);"> <b class="text-xs">Porcentaje</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.porcent}} %</td>
            </ng-container>
            <ng-container matColumnDef="No_Segmentados">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase " style="background: rgb(1, 90, 167);"> <b class="text-xs">No Segmentados</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.register}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSEG"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSEG"></tr>
          </table>
        </div>
      
    
      
      </div>
      <div class="flex-auto flex-col ml-6" style="width: 55%;">
        <div>
          <div *ngIf="!option.dataGrhap.chart" class="text-center p-10">
            No hay Datos
            <mat-spinner class="m-auto" *ngIf="spinner"></mat-spinner>
         </div>
         <vex-chart [options]="option.dataGrhap.options" *ngIf="option.dataGrhap.chart" [series]="option.dataGrhap.salesSeries"></vex-chart>
        </div>
      </div>
  </div>





  <div class="flex flex-col sm:flex-row">

    <div class="flex flex-auto flex-col mr-2 ml-2" *ngFor="let info of infoList| slice:0:5;" *ngIf="infoList.length" style="width: 30%;">

      <div class="container">
        <p><b>{{info.data}}</b></p>
        <ul >
          <li *ngFor="let data of info.datos| slice:0:5; "> <b *ngIf="info.type=!'date'">{{data.range}}</b>  <b *ngIf="info.type=='date'">{{data.range | date}}</b> ({{data.count}})</li>
        </ul>
      </div>
    </div>
    </div>
    <div class="flex flex-col sm:flex-row">
    <div class="flex flex-auto flex-col mr-2 ml-2" *ngFor="let info of infoList| slice:5:10; "  *ngIf="infoList.length"  style="width: 30%;">

      {{info.data}}
    </div>
  </div>



  /*switch (x) {
    case 1:
      body={
        "query": {},
      }
      console.log("version 2",this.segment.segmentation[0].query)
        query1= JSON.parse(this.segment.segmentation[0].query)
        console.log("version 2.1",query1)
        body={
          "query": query1,
        }
      break;
      case 2:
        
        console.log("version 3",this.segment.segmentation[1].query)
        query1= JSON.parse(this.segment.segmentation[0].query)
        query2= JSON.parse(this.segment.segmentation[1].query)
        console.log("version 3.1",query1)
        body={
          "query": {
            "$and": [ query1,query2
            ]
        }}
        break;
    default:
      break;
  }*/


  def reserve_stock_units
    new_reserved_stock_units = []
    self.order_lines.each do |order_line|
      new_reserved_stock_units.concat(order_line.reserve_stock_units)
      p "**",order_line.product
      product = Product.find_by(id: order_line["product_id"])
      if product["channel_integration_id"] && product["channel_inventory_id"]
        qty = product.get_stock_sync
        self.set_inventory_integration(product, qty)
      end
    end
    new_reserved_stock_units
  end

  def set_inventory_integration(product, qty)
    puts "Inventroy",product, qty
      channel_integration = ChannelIntegration.find_by(id: product["channel_integration_id"])
      task = Shopify::ShopifySetInventoryWorker.perform_async(channel_integration.id, channel_integration.location, product[:inventory_item_id],qty)
  end



  /* if(this.segmentation.criteria[1]){
    console.log("<<<<<<<<<<<<<<<<<<<<<",this.segmentation.query)
     
     this.segmentation.criteria[1].dataSource=[]
     this.segmentation.criteria[1].dataSeg=[]
     //promises.push(this.analytics1(1))
     this.analytics1(0)
     .then(result => {
           console.log("PROMESAS SAVE", result)
           this.save(0)
       })
       .catch(err =>{
         console.log(err)
       });
     }
   if(this.segmentation.criteria[2]){
    console.log("<<<<<<<<<<<<<<<<<<<<<",this.segmentation.query)
    
     this.segmentation.criteria[2].dataSource=[]
     this.segmentation.criteria[2].dataSeg=[]
    
     //promises.push(this.analytics1(2))
    
     }*/
   
    /* Promise.all(promises)
     .then(result => {
         console.log("PROMESAS REALIZADAS", result)
     })
     .catch(err =>{
       console.log(err)
     })*/
