<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div>

      <h2>Segmentación del Portafolio</h2>
      <p>Combina hasta 3 criterio de segmentación con base en los campos seleccionado en el mapeo. </p>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card p-6">
      <h2 class="m-0 title mb-6"></h2>
      <div class="flex flex-col sm:flex-row">
        <div class="flex flex-auto flex-col" style="width: 50%;">
          <table mat-table [dataSource]="generalIF" class="mat-elevation-z8 text-center"  style="width: 100%;">
            <ng-container matColumnDef="RESUMEN DE PORTAFOLIO">
              <th mat-header-cell *matHeaderCellDef style="color:black" class="text-center uppercase"> <b>RESUMEN DE PORTAFOLIO</b> </th>
              <td mat-cell *matCellDef="let element"> <b>{{element.name}}</b>  </td>
            </ng-container>
            <ng-container matColumnDef="-">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b></b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.data}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsA1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsA1;"></tr>
          </table>
        </div>
        
        <div class="flex flex-auto flex-col ml-6" style="width: 50%;">
          <table mat-table [dataSource]="[]" class="mat-elevation-z8 text-center"  style="width: 100%;">
            <ng-container matColumnDef="SEGMENTO">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="height: 46px; color: black;"> <b>RESUMEN DE SEGMENTACIÓN</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="REGISTROS">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" > <b></b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.register}} </td>
            </ng-container>
            <ng-container matColumnDef="%">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b></b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.porcent}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsC1" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsC1;"></tr>
          </table>
          <table mat-table [dataSource]="segment.segmentation" class="mat-elevation-z8 text-center" *ngIf="segment.segmentation.length" style="width: 100%;">
            <ng-container matColumnDef="SEGMENTO">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="color:black" > <b>SEGMENTO</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="REGISTROS">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="color:black" > <b>REGISTROS</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.register}} </td>
            </ng-container>
            <ng-container matColumnDef="%">
              <th mat-header-cell *matHeaderCellDef class="text-center uppercase" style="color:black" > <b>%</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.porcent | number : '1.1-1'}} <b>%</b> </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsC1" style=" height: 49px;" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsC1;"></tr>
          </table>
        </div>
      </div>
      <!--

        {{segment.segmentation.length}}
        <div *ngFor="let x of segment.segmentation">
          {{x.name}}
          {{x.register}}
          {{x.porcent}}
        </div>
      -->
   
      <div class="flex flex-col sm:flex-row">
        <mat-form-field class="flex-auto mt-6">
          <mat-label>Nombre de Segmento</mat-label>
          <input cdkFocusInitial [(ngModel)]="segmentation.name" matInput>
  
          <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto mt-6 ml-6">
          <mat-label>Descripción</mat-label>
          <input cdkFocusInitial [(ngModel)]="segmentation.description" matInput>
  
          <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
      </div>
      <!--div class="flex flex-col sm:flex-row">
        <mat-form-field class="flex-auto mt-6">
          <mat-label>Descripción</mat-label>
          <input cdkFocusInitial [(ngModel)]="segmentation.description" matInput>
  
          <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
      </div-->
      <div *ngFor="let option of segmentation.criteria;  let i = index;">
        <div align="end">
          <a (click)="delete(i)" color="warn" mat-stroked-button  >ELIMINAR </a>

        </div>
        <h3><b>Seleciona criterio de segmentacion</b></h3>
        <br>
        
        <!--div class="flex flex-col sm:flex-row text-center" *ngIf="datas.data.length">
          <div class="flex-auto">
            <b>{{datas.data[0]}}-{{datas.data[1]}}</b>
            <p><b>33%</b></p>
            <br>
            <p>{{datas.lables[0]}} Registros</p>
          </div>
          <div class="flex-auto">
            <b>{{datas.data[1]}}-{{datas.data[2]}}</b>
            <p><b>33%</b></p>
            <br>
            <p>{{datas.lables[1]}} Registros</p>
          </div>
          <div class="flex-auto">
            <b>{{datas.data[2]}}-{{datas.data[3]}}</b>
            <p><b>33%</b></p>
            <br>
            <p>{{datas.lables[2]}} Registros</p>
          </div>
          <div class="flex-auto">
            <b>Sin Información</b>
            <br>
            <p>{{ portafolio.register-datas.lables[0]-datas.lables[1]-datas.lables[2]}} Registros</p>
          </div>
        </div-->
        <div class="flex flex-col sm:flex-row">
          <div class="flex flex-auto flex-col" style="width: 45%;">
            
              <mat-form-field class="flex-auto">
                <mat-label>Selecciona Criterio </mat-label>
                <mat-select  name="criterio1" [(ngModel)]="option.name" (selectionChange)="changeCriterio($event, i)" >
                  <mat-option *ngFor="let op of segmentacionData" [value]="op"  >
                    {{op}}
                  </mat-option>
                  <!--mat-option [value]="option.data" *ngFor="let option of segmentacion;">{{option.data}}</mat-option-->
                </mat-select>
          
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
              <div >
                <table mat-table [dataSource]="option.dataSource" class="mat-elevation-z8 text-center"  style="width: 100%;">
          
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                  <!-- Position Column -->
                  <ng-container matColumnDef="date1">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b>{{displayedColumnsNew[0]}}</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.date1}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="date2">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b>{{displayedColumnsNew[1]}}</b>  </th>
                    <td mat-cell *matCellDef="let element"> {{element.date2}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="date3">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b>{{displayedColumnsNew[2]}}</b>  </th>
                    <td mat-cell *matCellDef="let element"> {{element.date3}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="date4">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b>{{displayedColumnsNew[3]}}</b></th>
                    <td mat-cell *matCellDef="let element"> {{element.date4}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="date5">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase"> <b>{{displayedColumnsNew[4]}}</b></th>
                    <td mat-cell *matCellDef="let element"> {{element.date5}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              <br>
              <div class="flex flex-col sm:flex-row">
                <mat-form-field class="flex-auto" style="max-width: 135px;">
                  <mat-label>Segmentación</mat-label>
                  <mat-select  name="criterio1" [(ngModel)]="option.type" ><!--(selectionChange)="changeSegment($event)" -->
                    <mat-option value="rank"> Rango</mat-option>
                    <mat-option value="higher"> Mayor que</mat-option>
                    <mat-option value="less"> Menor que</mat-option>
                    <mat-option value="equal"> Igual</mat-option>
                    <!--mat-option [value]="option.data" *ngFor="let option of segmentacion;">{{option.data}}</mat-option-->
                  </mat-select>
            
                  <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto ml-6" *ngIf="option.type!='rank'">
                  <mat-label>Rango A</mat-label>
                  <input cdkFocusInitial [(ngModel)]="option.rankA" matInput>
          
                  <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto ml-6" style="max-width: 180px;" *ngIf="option.type=='rank'">
                  <mat-label>Rango A</mat-label>
                  <input cdkFocusInitial [(ngModel)]="option.rankA" matInput>
          
                  <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto ml-6" style="max-width: 180px;" *ngIf="option.type=='rank'">
                  <mat-label>Rango B</mat-label>
                  <input cdkFocusInitial [(ngModel)]="option.rankB"matInput>
          
                  <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <a (click)="save(i)" color="primary" mat-stroked-button  matTooltip="Agregar" ><mat-icon style="margin-top: 25px;" >add</mat-icon></a>

                <!--a mat-fab color="accent" aria-label="Example icon button with a bookmark icon" color="primary" mat-stroked-button (click)="save(i)"><mat-icon>add</mat-icon></a-->
              </div>
              <!--div  class="flex flex-col sm:flex-row" *ngIf="option.type!='rank'">
                <mat-form-field class="flex-auto">
                  <mat-label>Dato</mat-label>
                  <input cdkFocusInitial [(ngModel)]="option.rankA" matInput>
          
                  <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <a mat-fab color="accent" aria-label="Example icon button with a bookmark icon" color="primary" mat-stroked-button (click)="save(i)"><mat-icon>add</mat-icon></a>

              </div-->
              <div >
                <table mat-table [dataSource]="option.dataSeg" class="mat-elevation-z8 text-center " style="width: 100%;">
              
                  <ng-container matColumnDef="Registros">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase color-header-cell"> <b>Registros</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.actual}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Datos_Segmentados">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase color-header-cell"> <b>Segmentados</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.info}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Porcentaje">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase color-header-cell"> <b>Porcentaje</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.porcent}} %</td>
                  </ng-container>
                  <ng-container matColumnDef="No_Segmentados">
                    <th mat-header-cell *matHeaderCellDef class="text-center uppercase color-header-cell"> <b>No Segmentados</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.register}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsSEG"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsSEG"></tr>
                </table>
              </div>
            
          
            
            </div>
            <div class="flex-auto flex-col ml-6" style="width: 55%;">
              <div>
                <div *ngIf="!option.dataGrhap.chart" class="text-center p-10">
                  No hay Datos
                  <mat-spinner class="m-auto" *ngIf="spinner"></mat-spinner>
               </div>
               <vex-chart [options]="option.dataGrhap.options" *ngIf="option.dataGrhap.chart" [series]="option.dataGrhap.salesSeries"></vex-chart>
              </div>
            </div>
        </div>
        
      </div>
      <br>
      <div align="start">
      <a (click)="newCriteria()" color="primary" mat-stroked-button  *ngIf="AddCriteria">AGREGAR NUERVO CRITERIO</a>
      <button *ngIf="isNew" class="ml-6" (click)="create()"color="accent" mat-stroked-button type="submit" >CREAR SEGMENTACIÓN</button>
      <button *ngIf="isEdit" class="ml-6" (click)="create()"color="accent" mat-stroked-button type="submit">EDITAR SEGMENTACIÓN</button>
    
      </div>
      <div align="end">
        <button mat-stroked-button (click)="return()" type="button">CANCELAR</button>
        <button class="ml-6" (click)="deleteSeg()"color="warn" mat-stroked-button type="submit">ELIMINAR SEGMENTACIÓN</button>
        <!--button *ngIf="isNew" class="ml-6" (click)="create()"color="primary" mat-stroked-button type="submit">CREAR SEGMENTACIÓN</button>
        <button *ngIf="isEdit" class="ml-6" (click)="create()"color="primary" mat-stroked-button type="submit">EDITAR SEGMENTACIÓN</button-->
      </div>
    </div>
  </vex-page-layout-content>

</vex-page-layout>