.criterio{
    color:#5a5656
}
.criterio:hover{
    text-decoration: underline;
    cursor: pointer;
}
.criteriaActive{
    pointer-events: none;
}
.criteriaActive2{
    pointer-events: none;
    background: #d2e9fa
}
.criteriaActiv3{
    pointer-events: none;
    background: #aeaeae
}