.popover-container {
    width:200px;
    height:250px;
    max-width:none; // Required for popovers wider than 276px (Bootstrap's max-width for popovers)
}
.mat-row:nth-child(even){
    background-color: rgb(241, 241, 241);
}
        
.mat-row:nth-child(odd){
    background-color: white;
}