.popover{
    left: -280px !important;
    top: 31px !important;
   
}
.popover-content{
  width: 200px !important;
}
.mat-row:nth-child(even){
    background-color: rgb(241, 241, 241);
}
        
.mat-row:nth-child(odd){
    background-color: white;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-right: 10px;
}