
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h3 class="headline m-0" fxFlex="auto">Generar PDF</h3>



    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">

    <div class="mt-6">
      <h4>Seleccione para que segmento o portafolio quiere crear los archivos PDF</h4></div>
   <br>
   <br>
    <div class="flex flex-col sm:flex-row">
      <div class="flex-auto self-center" style="text-align: center;">
        <mat-checkbox cdkFocusInitial (click)="$event.stopPropagation()" [(ngModel)]="visible" color="primary" (change)="onCheckboxChange($event)">
         <b>Portafolio completo</b> 
        </mat-checkbox>
      </div>
    </div>
    <div class="flex  mt-6" >

      <mat-form-field class="flex-auto " *ngIf="!visible">
        <mat-label>Selecciona Segmento</mat-label>
        <mat-select [(ngModel)]="currentSegmentationList" (selectionChange)="onSegChange($event)" >
          <mat-option *ngFor="let label of SegmentationList" [value]="label">
            <div [ngClass]="label.previewClass"
                class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block" ></div>
            <span>{{ label.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      </div>

    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button (click)="generar()" color="primary" mat-button type="submit">GENERAR</button>
  </mat-dialog-actions>


<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
