<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 class="headline m-0"
        fxFlex="auto">Nueva Segmentación</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">

    
    <div class="flex flex-col sm:flex-row">

      <mat-form-field class="flex-auto mt-6" >
        <mat-label>Selecciona Cliente</mat-label>
        <mat-select matNativeControl name="client_id"  formControlName="client_id" (selectionChange)="changeCliente($event)" >
          <mat-option [value]="option._id" *ngFor="let option of CustomersList;">{{option.name}}</mat-option>
        </mat-select>
  
        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">

      <mat-form-field class="flex-auto mt-6" >
        <mat-label>Selecciona Portafolio</mat-label>
        <mat-select matNativeControl name="portafolio_id"  formControlName="portafolio_id" (selectionChange)="changePortafolio($event)" >
          <mat-option [value]="option._id" *ngFor="let option of PortafoliosList;">{{option.name_portafolio}}</mat-option>
        </mat-select>
  
        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Nombre</mat-label>
        <input cdkFocusInitial formControlName="name" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>


    <mat-form-field class="flex-auto">
      <mat-label>Descripción</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>

    
    <div class="flex flex-col sm:flex-row">

      <div class=" flex flex-col mt-6">

        <mat-form-field>
          <mat-label>Selecciona Criterio</mat-label>
          <mat-select matNativeControl name="criterio1"  formControlName="criterio1">
            <mat-option [value]="option.data" *ngFor="let option of segmentacion;">{{option.data}}</mat-option>
          </mat-select>
    
          <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <button (click)="analizar()" color="primary" mat-button >AGREGAR</button>
        <mat-form-field>
            <mat-label>Rango A</mat-label>
            <input cdkFocusInitial formControlName="rango1A" matInput>
    
            <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rango B</mat-label>
          <input cdkFocusInitial formControlName="rango1B" matInput>
  
          <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
      </div>
      <div class="flex-auto mt-6">

        <vex-chart [options]="options" [series]="salesSeries"></vex-chart>
      </div>
    </div>
    
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE CUSTOMER</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE CUSTOMER</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
