<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <img *ngIf="form.get('imageSrc').value" [src]="form.get('imageSrc').value" class="avatar mr-5">

    <h2 class="headline m-0"
    fxFlex="auto" >Información fiscal</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
      
     <div>
      <br>
       <h3>Al terminar este proceso se generará una vista previa de la 
        factura electrónica con la contratación del sistema 
        Collection Robot recuerda que tendrás 10 días naturales para  
        generar la factura y realizar el pago o bien dirígete a nuestra 
        sección de configuración y agrega una Tarjeta bancaria para generar 
        los siguientes pagos cada mes.
       </h3>
       <br>
     </div>
      
  
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Razón Social</mat-label>
        <input cdkFocusInitial formControlName="bussinesName" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    
    <div class="flex flex-col sm:flex-row">

      <mat-form-field class="flex-auto">
        <mat-label>RFC</mat-label>
        <input cdkFocusInitial formControlName="RFC" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
          <mat-label>Uso de la factura</mat-label>
         <!-- <select class="form-control valid" matNativeControl name="cfdiUse" data-type="dropdownlist" data-source="catalogs/cfdiUses?keyword=GPO920120440" data-template="#tmpl-commonDrop" data-default="P01" required="" aria-required="true" aria-invalid="false"></select>-->
         <mat-select matNativeControl name="type"  formControlName="cfdiUse">
            <mat-option value="">Seleccionar Uso de la factura</mat-option>
            <mat-option value="G01">G01 - Adquisición de mercancias</mat-option>
            <mat-option value="G02">G02 - Devoluciones, descuentos o bonificaciones</mat-option>
            <mat-option value="G03">G03 - Gastos en general</mat-option>
            <mat-option value="P01" selected="selected">P01 - Por definir</mat-option>
          </mat-select>
        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Método de Pago</mat-label>
           <!-- <select class="form-control valid" matNativeControl name="cfdiUse" data-type="dropdownlist" data-source="catalogs/cfdiUses?keyword=GPO920120440" data-template="#tmpl-commonDrop" data-default="P01" required="" aria-required="true" aria-invalid="false"></select>-->
           <mat-select matNativeControl name="type"  formControlName="paymentForm">
            <mat-option value="">Seleccionar Forma de pago</mat-option>
            <mat-option value="01">01 - Tarjeta de Credito</mat-option>
            <mat-option value="03">03 - Transferencia electrónica de fondos</mat-option>
            <mat-option value="99">99 - Por definir</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">Generar Factura</button>
  </mat-dialog-actions>
</form>

