<div >
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 
        class="headline m-0"
        fxFlex="auto">CARGA EXITOSA</h2>

    

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column" *ngIf="this.info">
    

   <h2>Análisis</h2>
    <div class="flex flex-col sm:flex-row">
      <div class="sm:mt-6 sm:ml-6 flex-auto">
        <h3>Datos Nuevos</h3>
        20 Registros
        <!--

          {{this.info.update.new || 0}} Registros
        -->
      </div>
      <div class="sm:mt-6 sm:ml-6 flex-auto">
        <h3>Datos Actualizados</h3>
        0 Registros
        <!--

          {{this.info.update.updated || 0}} Registros
        -->
      </div>
      <div class="sm:mt-6 sm:ml-6 flex-auto">
        <h3>Datos Eliminados</h3>
        0 Registros
        <!--

          {{this.info.update.eliminated || 0}} Registros
        -->
      </div>
      <div class="sm:mt-6 sm:ml-6 flex-auto">
        <h3>Datos Insertados</h3>
        20 Registros
        <!--

          {{this.info.insertedCount || 0}} Registros
        -->
      </div>
      
    </div>
    

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeValid()" type="button">ACEPTAR</button>
  </mat-dialog-actions>
</div>

