<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div>

      <h2>Portal</h2>
      <p> </p>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card p-6">
      <h2 class="m-0 title mb-6">Informacion definida segun el Mapeo</h2>
        <div class="flex flex-col sm:flex-row">
          <div class="flex flex-auto flex-col" >
            Datos Generales Campo 
          </div>
          <div class="flex flex-auto flex-col" >
            Activar
          </div>
          <div class="flex flex-auto flex-col" >
            Personalizar Campo
          </div>
          <div class="flex flex-auto flex-col" >
            Datos del Mapeo
          </div>
          <div class="flex flex-auto flex-col" >
            Desc
          </div>
        </div>
        <div class="flex flex-col sm:flex-row" *ngFor="let row of dataPortal; let i = index">
          <div class="flex flex-auto justify-center flex-col" >
            Datos Generales Campo {{i+1}}
          </div>
          <div class="flex flex-auto justify-center flex-col" >
            <mat-checkbox cdkFocusInitial (click)="$event.stopPropagation()" [(ngModel)]="row.status" color="primary" (change)="onCheckboxChange($event)">
              
            </mat-checkbox>
          </div>
          <div class="flex flex-auto flex-col" >
            <div class="flex flex-col sm:flex-row">
              <mat-form-field class="flex-auto">
                <mat-label>Nombre</mat-label>
                <input cdkFocusInitial [(ngModel)]="row.name" matInput>
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
              
            </div>
          </div>
          <div class="flex flex-auto flex-col" >
            <mat-form-field class="flex-auto ml-6">
              <mat-label>Selecciona Identificador </mat-label>
              <mat-select [(ngModel)]="row.data"  >
                <mat-option *ngFor="let label of communicationData" [value]="label">
                  <div [ngClass]="label.previewClass"
                      class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block" ></div>
                  <span>{{ label }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-auto flex-col" >
            
          </div>
        </div>
        <h2 class="m-0 title mb-6">Informacion definida segun la deuda</h2>
        <div class="flex flex-col sm:flex-row" *ngFor="let row of deudaPortal; let i = index">
          <div class="flex flex-auto justify-center flex-col" >
            Desglose Deuda Campo {{i+1}}
          </div>
          <div class="flex flex-auto justify-center flex-col" >
            <mat-checkbox cdkFocusInitial (click)="$event.stopPropagation()" [(ngModel)]="row.status" color="primary" (change)="onCheckboxChange($event)">
              
            </mat-checkbox>
          </div>
          <div class="flex flex-auto flex-col" >
            <div class="flex flex-col sm:flex-row">
              <mat-form-field class="flex-auto">
                <mat-label>Nombre</mat-label>
                <input cdkFocusInitial [(ngModel)]="row.name" matInput>
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
              
            </div>
          </div>
          <div class="flex flex-auto flex-col" >
            <mat-form-field class="flex-auto ml-6">
              <mat-label>Selecciona Identificador </mat-label>
              <mat-select [(ngModel)]="row.data"  >
                <mat-option *ngFor="let label of communicationData" [value]="label">
                  <div [ngClass]="label.previewClass"
                      class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block" ></div>
                  <span>{{ label }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-auto flex-col" >
            <div class="flex flex-col ml-6 sm:flex-row">
              <mat-form-field class="flex-auto">
                <mat-label>Descuento</mat-label>
                <input cdkFocusInitial [(ngModel)]="row.descuento" matInput>
                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
              
            </div>
          </div>
        </div>
        
      
      <div align="end" class="mt-10">
        <button  class="ml-6" (click)="create()"color="primary" mat-stroked-button type="submit">CREAR ESTRATEGIA</button>
        <!--button *ngIf="isEdit" class="ml-6" (click)="create()"color="primary" mat-stroked-button type="submit">EDITAR ESTRATEGIA</button-->
      </div>
    </div>
  </vex-page-layout-content>

</vex-page-layout>