<vex-page-layout>

  <vex-page-layout-header  fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
         <!--h2>Cliente: <b>{{client.name}}</b></h2-->
         
      <!--div>
        <h1 class="title mt-0 mb-1">All-In-One Table</h1>
        <vex-breadcrumbs [crumbs]="['Apps', 'All-In-One Table']"></vex-breadcrumbs>
      </div>

      <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
        <mat-button-toggle value="boxed">BOXED</mat-button-toggle>
        <mat-button-toggle value="fullwidth">FULL-WIDTH</mat-button-toggle>
      </mat-button-toggle-group-->
      <div>
        <h2>Facturacion</h2>
        <h4>Informacion  de Facturacion.</h4>
      </div>
      <h1></h1>
    </div>
  </vex-page-layout-header>
  

  <vex-page-layout-content>
                           
    <div class="card p-10" fxLayout="column" fxLayout.gt-sm="column">
      

        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto">
            <mat-label>Razón Social</mat-label>
              <input  [(ngModel)]="bussinesName" matInput>
          </mat-form-field>
          <mat-form-field class="flex-auto ml-6">
            <mat-label>RFC</mat-label>
            <input  [(ngModel)]="rfc" matInput>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto">
            <mat-label>Método de Pago</mat-label>
            <!-- <select class="form-control valid" matNativeControl name="cfdiUse" data-type="dropdownlist" data-source="catalogs/cfdiUses?keyword=GPO920120440" data-template="#tmpl-commonDrop" data-default="P01" required="" aria-required="true" aria-invalid="false"></select>-->
            <mat-select  name="type"  [(ngModel)]="paymentForm">
             <mat-option value="">Seleccionar Método de pago</mat-option>
             <mat-option value="03" selected="selected">03 - Transferencia electrónica de fondos</mat-option>
           </mat-select>
          </mat-form-field>
          <mat-form-field class="flex-auto ml-6">
            <mat-label>Uso de la factura</mat-label>
            <!-- <select class="form-control valid" matNativeControl name="cfdiUse" data-type="dropdownlist" data-source="catalogs/cfdiUses?keyword=GPO920120440" data-template="#tmpl-commonDrop" data-default="P01" required="" aria-required="true" aria-invalid="false"></select>-->
            <mat-select  name="type"  [(ngModel)]="cfdiUse">
               <mat-option value="">Seleccionar Uso de la factura</mat-option>
               <mat-option value="G01">G01 - Adquisición de mercancias</mat-option>
               <mat-option value="G02">G02 - Devoluciones, descuentos o bonificaciones</mat-option>
               <mat-option value="G03">G03 - Gastos en general</mat-option>
               <mat-option value="P01" selected="selected">P01 - Por definir</mat-option>
             </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto">
            <mat-label>E-Mail 1 para recibir facturas</mat-label>
            <input type="email"  [(ngModel)]="email1" matInput>
            </mat-form-field>
            <mat-form-field class="flex-auto ml-6">
              <mat-label>E-Mail 2 para recibir facturas</mat-label>
                <input type="email"  [(ngModel)]="email2" matInput>
                
              </mat-form-field>
            </div>
      
        
     
      <div>
        <div class="p-1">
          <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
              <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
                <span *ngIf="selection.isEmpty()">Factura</span>
                <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                  Facturas<span *ngIf="selection.selected.length > 1">s</span> selected</span>
              </h2>
      
              <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
                <button (click)="deleteInvoices(selection.selected)"
                        color="primary"
                        mat-icon-button
                        matTooltip="Delete selected"
                        type="button">
                  <mat-icon [icIcon]="icDelete"></mat-icon>
                </button>
      
                <button color="primary" mat-icon-button matTooltip="Another action" type="button">
                  <mat-icon [icIcon]="icFolder"></mat-icon>
                </button>
              </div>
      
              <div class="bg-card rounded-full border px-4"
                   fxFlex="400px"
                   fxFlex.lt-md="auto"
                   fxHide.xs
                   fxLayout="row"
                   fxLayoutAlign="start center">
                <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                <input [formControl]="searchCtrl"
                       class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                       placeholder="Buscar..."
                       type="search">
              </div>
      
              <span fxFlex></span>
      
              <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                <mat-icon [icIcon]="icSearch"></mat-icon>
              </button>
      
              <button [matMenuTriggerFor]="columnFilterMenu"
                      class="ml-4"
                      fxFlex="none"
                      mat-icon-button
                      matTooltip="Filtrar Columnas"
                      type="button">
                <mat-icon [icIcon]="icFilterList"></mat-icon>
              </button>
      
             
            </div>
            
            <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
      
              <!-- Checkbox Column -->
              <ng-container matColumnDef="checkbox">
                <th *matHeaderCellDef mat-header-cell>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                color="primary">
                  </mat-checkbox>
                </th>
                <td *matCellDef="let row" class="w-4" mat-cell>
                  <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="selection.isSelected(row)"
                                color="primary">
                  </mat-checkbox>
                </td>
              </ng-container>
               <!-- Date Columns -->
              <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
                  <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                  <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] | date : "dd-MM-yy"}}</td>
                </ng-container>
              </ng-container>
      
              <!-- Image Column -->
              <ng-container matColumnDef="image">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
                  <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle">
                </td>
              </ng-container>
      
              <!-- Text Columns -->
              <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                  <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                  <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
                </ng-container>
              </ng-container>
              <!-- Text Columns Objects-->
              <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'object'" [matColumnDef]="column.property">
                  <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                  <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                    <div class="flex">
                     
                      <a (click)="$event.stopPropagation(); preview(row._id);" *ngIf=" column.property=='status'&&row['preview']['status']==true"
                      class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                      mat-icon-button>
                        <mat-icon [icIcon]="icChek" size="18px"></mat-icon>
                      </a>
                      <a (click)="$event.stopPropagation(); donwload(row.invoice.invoice_id);" *ngIf=" column.property=='UUID'&&row['invoice']['status']==true"
                      class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                      mat-icon-button>
                        <mat-icon [icIcon]="icDonwload" size="18px"></mat-icon>
                      </a>
                      <a (click)="$event.stopPropagation(); donwloadPPD(row.ppd.ppd_id);" *ngIf=" column.property=='folio'&&row['ppd']['status']==true"
                      class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                      mat-icon-button>
                        <mat-icon [icIcon]="icDonwload" size="18px"></mat-icon>
                      </a>
                      </div>
                  </td>
                </ng-container>
              </ng-container>
      
              <!-- Contact Column -->
              <ng-container matColumnDef="contact">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let row" mat-cell>
                  <div class="flex">
                    <a (click)="$event.stopPropagation()"
                      class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                      mat-icon-button>
                      <mat-icon [icIcon]="icPhone" size="18px"></mat-icon>
                    </a>
      
                    <a (click)="$event.stopPropagation()"
                      class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                      mat-icon-button>
                      <mat-icon [icIcon]="icMail" size="18px"></mat-icon>
                    </a>
      
                    <a (click)="$event.stopPropagation()"
                      class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                      mat-icon-button>
                      <mat-icon [icIcon]="icMap" size="18px"></mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>
      
            
              <!-- Action Column -->
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                  <!--button (click)="$event.stopPropagation()"
                          [matMenuTriggerData]="{ customer: row }"
                          [matMenuTriggerFor]="actionsMenu"
                          mat-icon-button
                          type="button">
                    <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
                  </button-->
                  <div class="flex">
                    
                    <a (click)=" $event.stopPropagation(); updateInvoice(row)" 
                    class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                    mat-icon-button matTooltip="Editar">
                  <mat-icon [icIcon]="icEdit" size="18px"></mat-icon>
                    </a>
                    <a (click)=" $event.stopPropagation(); deleteInvoice(row)" 
                      class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                      mat-icon-button matTooltip="Eliminar">
                      <mat-icon [icIcon]="icDelete" size="18px"></mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>
      
              <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
              <tr (click)="updateInvoice(row)"
                  *matRowDef="let row; columns: visibleColumns;"
                  @fadeInUp
                  class="hover:bg-hover trans-ease-out cursor-pointer"
                  mat-row></tr>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
          class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

