<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 
        class="headline m-0"
        fxFlex="auto">Mapeo</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Fecha de creación</mat-label>
        <input [matDatepicker]="startDatepicker" formControlName="dateInit" matInput>
        <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Fecha de actualizacion</mat-label>
        <input [matDatepicker]="updateDatepicker" formControlName="dateUpdate" matInput>
        <mat-datepicker-toggle [for]="updateDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #updateDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-tab-group>
      <mat-tab label="Segmentación"> 
        <div>
          <br>
          <h3>Selecciona aquí los campos que seran utilizados en tu segmentación.</h3>
        </div>
        <div>
            <li (click)="addSeg(i)" *ngFor="let data of dataS ;  let i = index;"
          class="checkbox-item mat-menu-item">
            <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
              {{ data.data }}
            </mat-checkbox>
          </li>
        </div>
      </mat-tab>
      <mat-tab label="Análisis"> 
        <div>
          <br>
          <h3>Selecciona aquí los campos que seran utilizados en tu Análisis.</h3>
        </div>
        <div>
            <li (click)="addAna(i)" *ngFor="let data of dataA ;  let i = index;"
          class="checkbox-item mat-menu-item">
            <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
              {{ data.data }}
            </mat-checkbox>
          </li>
        </div> </mat-tab>
      <mat-tab label="Estrategias"> 
        <div>
          <br>
          <h3>Selecciona aquí los campos que seran utilizados para la creación de estrategias y templetes de emails y mensaje de txt.</h3>
        </div>
        <div>
            <li (click)="addEst(i)" *ngFor="let data of dataE ;  let i = index;"
          class="checkbox-item mat-menu-item">
            <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
              {{ data.data }}
            </mat-checkbox>
          </li>
        </div>  </mat-tab>
      <mat-tab label="Portal del cliente"> 
        <div>
          <br>
          <h3>Selecciona aquí los campos que seran utilizados para que el cliente final visaulice información importante.</h3>
        </div>
        <div>
            <li (click)="addEst(i)" *ngFor="let data of dataE ;  let i = index;"
          class="checkbox-item mat-menu-item">
            <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
              {{ data.data }}
            </mat-checkbox>
          </li>
        </div> 
       </mat-tab>
      <mat-tab label="Reporteo"> 
        <div>
          <br>
          <h3>Selecciona aquí los campos que seran utilizados para la creación de reporteo.</h3>
        </div>
        <div>
            <li (click)="addRep(i)" *ngFor="let data of dataR ;  let i = index;"
          class="checkbox-item mat-menu-item">
            <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
              {{ data.data }}
            </mat-checkbox>
          </li>
        </div> 
      </mat-tab>
      <mat-tab label="Analisis">
        <div>
          <br>
          <h3>Selecciona aquí los campos que seran utilizados para realizar una validacion de datos de tu portafolio.</h3>
          <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
            Activar Validacion
          </mat-checkbox>
        </div>
        <div>
            <li (click)="addRep(i)" *ngFor="let data of dataR ;  let i = index;"
          class="checkbox-item mat-menu-item">
            <mat-checkbox (click)="$event.stopPropagation()"  color="primary">
              {{ data.data }}
            </mat-checkbox>
            <select class="sm:ml-6" name="type"  >
              <option value="no">Seleccione uno...</option>
              <option value="Email">E-mail</option>
              <option value="number">Numero Telefonico</option>
              <option value="date">Fecha</option>
            </select>
          </li>
        </div> 
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREAR GUARDAR
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE CUSTOMER</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
