<vex-page-layout>

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center center">
    Su cuenta muestra un atraso de $12,000.00. 
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Perfil">
          <div class="p-6">
            <div [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="-mt-6">

            <div class="">
             <div >
               
               <div fxLayout="row">
                 <div class="text-right body-1 w-full" fxLayout="column" fxLayoutAlign="center center">
                  
                   <table class="mt-6">
                     <tbody>
                     <tr>
                       <td class="text-secondary body-2 text-center"><h3>Nombre</h3></td>
                       <td class="text-left pl-4"><b>102</b></td>
                     </tr>
                     <tr>
                       <td class="text-secondary body-2 text-center"><h3>Riesgo</h3></td>
                       <td class="text-left pl-4"><b>"A"</b></td>
                     </tr>
                     <tr>
                       <td class="text-secondary body-2 text-center"><H3>Monto a Pagar</H3></td>
                       <td class="text-left pl-4"><b>3000</b></td>
                     </tr>
                     <tr>
                       <td class="text-secondary body-2 text-center"><H3>Contacto</H3></td>
                       <td class="text-left pl-4"><b>1236</b></td>
                     </tr>
                     </tbody>
                   </table>

                 </div>
               </div>

               
           
               
           
             </div>
           </div>

</div>
          </div>
        </mat-tab>
        <mat-tab label="Opciones de Pagos">
          <div class="p-5 pt-3" >
            <div class="text-center" >
              <h3><b>Atraso Total: $12,000 </b></h3>
              <h3><b>Descuento: 30% </b></h3>
            </div>
            <div class="text-center pt-3">
              <h3>Plan de Pagos</h3>
            </div>
            <mat-tab-group mat-align-tabs="center"  backgroundColor="primary">
              <mat-tab label="1 Solo Pago">
                <div class="flex flex-col">
            
                  <mat-form-field class="flex-auto">
                    <mat-label>Elige Fecha </mat-label>
                    <input [matDatepicker]="startDatepicker" [(ngModel)]="date" matInput>
                    <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Cantidad</mat-label>
                    <input [(ngModel)]="cantidad" matInput>
                    
                  </mat-form-field>
  
                </div>
                <div class="text-center" >

                  <button mat-flat-button  color="accent" (click)="openshippingmethods()"> Ver Métodos de Pago </button>
                    <br>
                    <br>
                  <button mat-flat-button  color="accent" (click)="openpay()"> Registrar pago </button>
                </div>
              </mat-tab>
              <mat-tab label="Pagos Diferidos">
                <div class="flex flex-col">
  
                  <mat-form-field class="flex-auto" >
                    <mat-label>Elige cantidad de pagos
                    </mat-label>
                    <mat-select  name="criterio1" [(ngModel)]="type" (selectionChange)="changePay($event)" >
                      <mat-option value=1> 1 Pago</mat-option>
                      <mat-option value=2> 2 Pago</mat-option>
                      <mat-option value=3> 3 Pago</mat-option>
                      <mat-option value=4> 4 Pago</mat-option>
                    </mat-select>
              
                    <mat-icon [icIcon]="icEdit" class="mr-3" matPrefix></mat-icon>
                  </mat-form-field>
                </div>
                <div class="flex flex-col sm:flex-row" *ngFor="let pay of pays; let i = index;">
                  <p>Pago </p>
                  <div class="flex flex-auto flex-col" >
                  
                    <mat-form-field class="flex-auto">
                      <mat-label>Elige Fecha</mat-label>
                      <input [matDatepicker]="startDatepicker" [(ngModel)]="pay.date" matInput>
                      <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #startDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                      <mat-label>Cantidad</mat-label>
                      <input [(ngModel)]="pay.cant" matInput>
                      
                    </mat-form-field>
                    </div>
                    </div>
                    <div class="text-center" >

                      <button mat-flat-button  color="accent" (click)="openshippingmethods()"> Ver Métodos de Pago </button>
                        <br>
                        <br>
                      <button mat-flat-button  color="accent" (click)="openpay()"> Registrar pago </button>
                    </div>
              </mat-tab>
            </mat-tab-group>


            
            <div *ngIf="onePay">
              <h3><b>Atraso Total: 12000 </b></h3>
              <div class="flex flex-col">
          
                <mat-form-field class="flex-auto">
                  <mat-label>Elige Fecha</mat-label>
                  <input [matDatepicker]="startDatepicker" [(ngModel)]="date" matInput>
                  <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #startDatepicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                  <mat-label>Cantidad</mat-label>
                  <input [(ngModel)]="cantidad" matInput>
                  
                </mat-form-field>

              </div>
              <button mat-flat-button  color="accent" (click)="pay=true">Pagar
              </button>
            </div>
            <div *ngIf="onePay==false">
              <h3><b>Atraso Total: 12000 </b></h3>
              <div class="flex flex-col">

                <mat-form-field class="flex-auto" >
                  <mat-label>Elige cantidad de pagos
                  </mat-label>
                  <mat-select  name="criterio1" [(ngModel)]="type" (selectionChange)="changePay($event)" >
                    <mat-option value=1> 1 Pago</mat-option>
                    <mat-option value=2> 2 Pago</mat-option>
                    <mat-option value=3> 3 Pago</mat-option>
                    <mat-option value=4> 4 Pago</mat-option>
                  </mat-select>
            
                  <mat-icon [icIcon]="icEdit" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
              </div>
              <div class="flex flex-col sm:flex-row" *ngFor="let pay of pays">
                <div class="flex flex-auto flex-col" >
                  <mat-form-field class="flex-auto">
                    <mat-label>Elige Fecha</mat-label>
                    <input [matDatepicker]="startDatepicker" [(ngModel)]="pay.date" matInput>
                    <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="flex-auto">
                    <mat-label>Cantidad</mat-label>
                    <input [(ngModel)]="pay.cant" matInput>
                    
                  </mat-form-field>
                  </div>
                  </div>
                  <button mat-flat-button  color="accent" (click)="pay=true">Pagar
                  </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Cuenta">
          <div class="p-5 pt-3" >
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full table1" >
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
              </ng-container>
  
               <!-- Date Column -->
               <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

        </mat-tab>

      </mat-tab-group>
    </div>
  </vex-page-layout-content>
  
  
</vex-page-layout>


