<div>
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">¡Gracias por tu registro!</h2>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
   
    <div class="text-center"style="padding: 20px 60px;" *ngIf="agency&&agency.contract.type=='test'"> 
      <h4>
        Bienvenido al software de gestión de Cobranza Collection Robot
      </h4>
      <br>
      <h5>
        Tienes la oportunidad de probar por 10 días sus funcionalidades
        <br>
        (excepto el servicio de envío de comunicación digital) 
        <br>
        <br>
        Collection Robot es una solución tecnológica, flexible, económica para  digitalizar & automatizar tu proceso de cobranza. Te ayuda a incrementar la recuperación y reducir tus costos operativos
        <br>
        <br>
        Antes de que finalicen los 10 días de prueba, debes entrar a la opción del menú “Contrata tu Plan” para continuar disfrutando de los beneficios del Collection Robot
      </h5>
  </div>
  <div class="text-center"style="padding: 20px 60px;" *ngIf="agency&&agency.contract.type=='pay'"> 
    <h4>Bienvenido al software de gestión de Cobranza Collection Robot.</h4>
    <br>
    <h5>
      Te pedimos realizar el pago de la Factura en un plazo no mayor a 10 días, los datos para realizarlo se encuentran en el mail de bienvenida o en el punto del menú: 
      <br>
      <br>
      <b>
        “Contrata tu plan”  
      </b>
      <br>
      <br>
      Es importante alimentar los datos adicionales en el punto del menú “Configuración General”
    </h5>
</div>
    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button color="warn" mat-button (click)="save()">ACEPTAR</button>
  </mat-dialog-actions>
</div>
